<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :person_id, "Select Person", style: "display: block" %>
    <%= form.collection_select :person_id, Person.all, :id, :name, prompt: "Select Person" %>
  </div><br>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div><br>

  <div>
    <%= form.label :text_pointsize, "Select Text Size" %>
    <%= form.number_field :text_pointsize, min: 1, max: 50, step: 1 %>
  </div><br>

  <div>
    <%= form.label :text_font, "Select Text Font Style" %>
    <%= form.collection_select :text_font,
                              [['Arial', 'Arial'],
                              ['Times New Roman', 'Times New Roman'],
                              ['Verdana', 'Verdana'],
                              ['Helvetica', 'Helvetica'],
                              ['Georgia', 'Georgia'],
                              ['Courier New', 'Courier New'],
                              ['Tahoma', 'Tahoma'],
                              ['Palatino', 'Palatino'],
                              ['Lucida Sans', 'Lucida Sans'],
                              ['Garamond', 'Garamond'],
                              ['Bookman', 'Bookman'],
                              ['Trebuchet MS', 'Trebuchet MS']],
                             :last, :first,
                             prompt: "Select Font Style" %>
  </div><br>

  <div>
    <%= form.label :text_fill, "Select Text Color" %>
    <%= form.collection_select :text_fill,
                              [['Red', 'red'],
                              ['Blue', 'blue'],
                              ['Green', 'green'],
                              ['Black', 'black'],
                              ['White', 'white'],
                              ['Yellow', 'yellow'],
                              ['Orange', 'orange'],
                              ['Purple', 'purple'],
                              ['Pink', 'pink'],
                              ['Gray', 'gray'],
                              ['Brown', 'brown'],
                              ['Cyan', 'cyan']],
                             :last, :first,
                             prompt: "Select Color" %>
  </div><br>

  <div>
    <%= form.label :logo_position, "Select Person Logo Position" %><br>
    <%= form.collection_select :logo_position, [['Top Right', 'top_right'],
                                              ['Top Center', 'top_center'],
                                              ['Top Left', 'top_left'],
                                              ['Right Center', 'right_center'],
                                              ['Bottom Right', 'bottom_right'],
                                              ['Bottom Center', 'bottom_center'],
                                              ['Bottom Left', 'bottom_left'],
                                              ['Left Center', 'left_center'],
                                              ['Center', 'center']], :last, :first, prompt: "Select Logo Position" %>
  </div><br>

  <div id="template-selector">
    <%= form.label :template, "Select Template" %>
    <% @templates.each do |template| %>
      <div>
        <%= form.radio_button :template, template.id %>
        <%= form.label template.id do %>
          <%= image_tag template.picture, size: '80x80'%>
        <% end %>
      </div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :template_size, "Select Template Size" %><br>
    <%= form.collection_select :template_size,
                             [['500 x 300', '500x300'],
                              ['600 x 400', '600x400'],
                              ['700 x 500', '700x500'],
                              ['800 x 600', '800x600'],
                              ['900 x 500', '900x500'],
                              ['1000 x 500', '1000x500'],
                              ['1100 x 500', '1100x500'],
                              ['1200 x 500', '1200x500'],
                              ['1300 x 500', '1300x500'],
                              ['1024 x 768', '1024x768'],
                              ['1250 x 720', '1250x720'],
                              ['1300 x 768', '1300x768'],
                              ['1350 x 800', '1350x800']],
                             :last, :first, prompt: "Select Template Size" %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
