<p style="color: green"><%= notice %></p>

<h1>Quotes</h1>

<div>
  <button onclick="location.href='<%= people_path %>';">Back To People</button>
</div><br>

<button onclick="location.href='<%= new_quote_path %>';">Add Quote</button><br><br>

<div id="quotes">
  <% @quotes.each do |quote| %>
    <%= render quote %>
    <p>
      <button onclick="location.href='<%= quote_path(quote) %>';">Show Quote</button>
    </p>
  <% end %>
</div>
