<p style="color: green"><%= notice %></p>

<%= render @quote %>

<div>
  <button onclick="location.href='<%= edit_quote_path(@quote) %>';">Edit Quote</button>&nbsp;
  <button onclick="location.href='<%= quotes_path %>';">Back To Quotes</button><br>&nbsp;
  <%= button_to "Destroy Quote", @quote, method: :delete %>
</div>
