<%= form_with(model: quote_template) do |form| %>
  <% if quote_template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote_template.errors.count, "error") %> prohibited this quote_template from being saved:</h2>

      <ul>
        <% quote_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div><br>

  <div>
    <%= form.label :quote_id, "Select Quote Id", style: "display: block" %>
    <%= form.collection_select :quote_id, Quote.all, :id, :id, prompt: "Select Quote Id" %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
