<p style="color: green"><%= notice %></p>

<h1>People</h1>

<button onclick="location.href='<%= new_person_path %>'">Person</button>&nbsp;
<button onclick="location.href='<%= quotes_path %>'">Quote</button>&nbsp;
<button onclick="location.href='<%= templates_path %>'">Template</button><br><br>

<div id="people">
  <% @people.each do |person| %>
    <div class="person-container">
      <%= render person %>
      <p>
        <button onclick="location.href='<%= person_path(person) %>';">Show Person</button>
      </p>
    </div>
  <% end %>
</div>
