<p style="color: green"><%= notice %></p>

<h1>People</h1>

<%= link_to "New person", new_person_path %><br>
<%= link_to "New quote", new_quote_path %><br>
<%= link_to "New template", new_template_path %><br><br>

<div id="people">
  <% @people.each do |person| %>
    <div class="person-container">
      <%= render person %>
      <p>
        <%= link_to "Show this person", person %>
      </p>
    </div>
  <% end %>
</div>
