<p style="color: green"><%= notice %></p>

<%= render @person %>

<div>
  <button onclick="location.href='<%= edit_person_path(@person) %>';">Edit Person</button>&nbsp;
  <button onclick="location.href='<%= people_path %>';">Back To People</button><br>&nbsp;
  <%= button_to "Destroy Person", @person, method: :delete %>
</div>
