<p style="color: green"><%= notice %></p>

<h1>Templates</h1>

<div>
  <button onclick="location.href='<%= people_path %>';">Back To People</button>
</div><br>

<button onclick="location.href='<%= new_template_path %>';">Add Template</button><br><br>

<div id="templates">
  <% @templates.each do |template| %>
    <%= render template %>
    <p>
      <button onclick="location.href='<%= template_path(template) %>';">Show Template</button>
    </p>
  <% end %>
</div>
