<p style="color: green"><%= notice %></p>

<%= render @template %>

<div>
  <button onclick="location.href='<%= edit_template_path(@template) %>';">Edit Template</button>&nbsp;
  <button onclick="location.href='<%= templates_path %>';">Back To Templates</button><br>&nbsp;
  <%= button_to "Destroy Template", @template, method: :delete %>
</div>
